<div class="card-container">
  <md-card class="example-card">
    <md-card-header>
      <md-card-title >Welcome</md-card-title>
    </md-card-header>
    <img md-card-image src="assets/img/examples/shiba2.jpg">
    <md-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
      <div>
    </div>
    </md-card-content>
    <md-card-actions>
      <button  md-button  >SIGN IN</button>
    </md-card-actions>
  </md-card>
</div>
