<md-toolbar>Password Keeper
  <span fxFlex></span>

  <div *ngIf="!signedIn">
    <md-menu #appMenu="mdMenu" [overlapTrigger]='false'>
      <button md-menu-item (click)='signOut()'> Sign out </button>
    </md-menu>

    <button md-icon-button [mdMenuTriggerFor]="appMenu">
     <md-icon>more_vert</md-icon>
  </button>
  </div>

</md-toolbar>

<div fxLayoutAlign='center center'>
  <div class='container' fxFlex fxFlex.md='960px' style='background-color: rgba(0, 0, 255, 0.2);'>
    <router-outlet></router-outlet>
  </div>
</div>
